body {
  align-items: left;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.container {
  text-align: center;
  margin-bottom: 200px;
}

/* input box */
.form-signin-item {
  width: 60%;
}

.fas {
  color: rgba(80, 51, 248, 0.87);
}

.fas:hover {
  color: #f32929;
}

input[type=text] {
  border-radius: 4px;
  margin-bottom: 1%;
}

input:focus {
  transition: width 0.4s ease-in-out;
  width: 100%;
}

#header-pic {
  max-width: 100%;
  opacity: 50%;
  margin-bottom: 100px;
}

.bottom_container {
  text-align: center;
}

.footer_link {
  margin-right: 20px;
}